<div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md ng-click="openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>
    <h2 flex breadcrumbs="menu"></h2>

    <md-menu>
        <md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu()">
            <md-icon md-font-icon="icon-language"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="language in languages">
                <md-button ng-click="switchLanguage(language.key)">
                    {{language.name | translate}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button class="md-icon-button toolbar-button" ng-click="toggleNotificationsTab(0)">
        <md-icon md-font-icon="icon-email"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">5</span>
    </md-button>

    <md-button class="md-icon-button toolbar-button" ng-click="toggleNotificationsTab(1)">
        <md-icon md-font-icon="fa fa-bell-o"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">2</span>
    </md-button>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()">
            <img class="toolbar-user-avatar" src="assets/images/avatars/avatar-5.png">
            Christos
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="toggleNotificationsTab(2)">
                    <md-icon md-font-icon="icon-settings"></md-icon>
                    {{'ADMIN.TOOLBAR.SETTINGS' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="profile()">
                    <md-icon md-font-icon="icon-person"></md-icon>
                    {{'ADMIN.TOOLBAR.PROFILE' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="logout()">
                    <md-icon md-font-icon="icon-exit-to-app"></md-icon>
                    {{'ADMIN.TOOLBAR.LOGOUT' | translate}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

