<md-toolbar class="sidebar-left-toolbar" md-theme="{{triSkin.elements.logo}}">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <div>
            <img class="sidebar-left-logo" ng-src="{{sidebarInfo.appLogo}}" alt="{{sidebarInfo.appName}}">
        </div>

        <h2>{{sidebarInfo.appName}}</h2>
    </div>
</md-toolbar>

<side-menu md-theme="{{triSkin.elements['sidebar']}}" flex></side-menu>
