// Utilities

// - Full height
.full-height {
  height: 100%;
  box-sizing: border-box;
}

// - Full width
.full-width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

// - Margin Classes
.margin-normal {
  margin: 16px;
}
$i : 0;
@while $i <= 200 {
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  $i : $i + 10;
}

// - Padding Classes
.padding-normal {
  padding: 16px;
}
.padded-content-page {
  padding: 16px 24px;
}
$i : 0;
@while $i <= 200 {
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-left-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-right-#{$i} {
    padding-right: #{$i}px !important;
  }
  $i : $i + 10;
}

// - Opacity Classes
$i : 0;
@while $i <= 1 {
  .opacity-#{$i * 100} {
    opacity: $i !important;
  }
  $i : $i + 0.1;
}

// - Overlay Classes
$i : 0;
@while $i <= 1 {
  .overlay-#{$i * 100} {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, $i);
      z-index: -1;
    }
  }
  $i : $i + 0.05;
}

$i : 0;
@while $i <= 1 {
  .overlay-gradient-#{$i * 100} {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0,0,0, $i) 0%,rgba(0,0,0,0) 100%);
    }
  }
  $i : $i + 0.05;
}

// - Positioning Classes
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

// - Translate Classes
$i : 0;
@while $i <= 100 {
  .move-from-top-#{$i} {
    transform: translateY(#{$i}px);
  }
  .move-from-left-#{$i} {
    transform: translateX(#{$i}px);
  }
  .move-from-bottom-#{$i} {
    transform: translateY(-#{$i}px);
  }
  .move-from-right-#{$i} {
    transform: translateX(-#{$i}px);
  }
  $i : $i + 10;
}

// Clearfix
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

// Animation content wrapper
.animate-wrapper {
  position: relative;
  > .ng-enter, > .ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// Round classes
.make-round {
  border-radius: 50%;
}

// Overfflow-classes
.overflow-visible {
  overflow: visible;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}

// Example Tabs
.example-tabs {
  md-tab-content md-content {
    background: rgba(100, 100, 100, 0.1);
  }
}

.example-tabs-nopadding {
  md-card-content {
    padding: 0px;
  }
}

.example-tabs-500-height {
  height: 500px;
}