<div class="email-inbox full-height overflow-hidden" layout="row" flex>
    <md-button ng-click="composeClick($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="{{'EMAIL.COMPOSE_EMAIL' | translate}}">
        <md-icon md-font-icon="icon-create"></md-icon>
    </md-button>
    <div class="email-inbox-list md-whiteframe-z1" flex="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="40" ng-show="showEmailList" layout="column">
        <md-content>
            <section class="email-inbox-list-animate-repeat" ng-repeat="group in emailGroups" ng-show="group.emails.length > 0">
                <md-subheader class="md-primary">{{group.name}}</md-subheader>
                <md-list>
                    <md-list-item class="email-inbox-list-item email-inbox-list-animate-repeat md-3-line" ng-repeat="email in group.emails | orderBy:'-date'" ng-click="openMail(email)" ng-class="{ active: selectedMail === email.id, 'email-inbox-list-item-unread': email.unread }">

                        <img class="md-avatar animate" ng-src="{{email.from.image}}" alt="{{email.from.name}}">

                        <div class="md-list-item-text">
                            <div class="email-inbox-list-item-name-time" layout="row" layout-align="space-between start">
                                <h3>{{email.from.name}}</h3>
                                <p class="md-caption" am-time-ago="email.date"></p>
                            </div>
                            <h4>{{email.subject}}</h4>
                            <p>{{email.content[0] | cut:true:80:' ...'}}</p>
                        </div>

                        <md-divider ng-hide="$last"></md-divider>
                    </md-list-item>
                </md-list>
            </section>
            <h2 ng-show="emails.length === 0">{{'EMAIL.NO_EMAILS_FOUND' | translate}}</h2>
        </md-content>
    </div>

    <div class="animate-wrapper" layout="column" layout-align="top center" flex>
        <div flex id="ui-admin-email" ui-view layout="column" layout-align="top center">
            <div flex class="email-inbox-no-email-selected" layout="column" layout-align="center">
                <h2 hide-sm>{{'EMAIL.NO_EMAIL_SELECTED' | translate}}</h2>
            </div>
        </div>
    </div>
</div>