<div layout="row" flex layout-padding layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-sm="100">
        <md-card>
            <md-toolbar>
                <div layout="column" flex layout-padding layout-align="center center">
                    <div><img src="assets/images/logo.png" alt="{{appName}}"></div>
                    <h1 class="md-headline">
                        {{'SIGNUP.TITLE' | translate}}
                    </h1>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <form name="signup">
                    <md-input-container>
                        <label for="name">{{'SIGNUP.NAME.LABEL' | translate}}</label>
                        <input id="name" label="name" name="name" type="text" ng-model="user.name" required/>
                        <div ng-messages="signup.name.$error">
                            <div ng-message when="required">
                                {{'SIGNUP.NAME.PLEASE_ENTER' | translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label for="email">{{'SIGNUP.EMAIL.LABEL' | translate}}</label>
                        <input id="email" label="email" name="email" type="email" ng-model="user.email" required/>
                        <div ng-messages="signup.email.$error">
                            <div ng-message when="required">
                                {{'SIGNUP.EMAIL.PLEASE_ENTER' | translate}}
                            </div>
                            <div ng-message when="email">
                                {{'SIGNUP.EMAIL.PLEASE_VALID' | translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label for="password">{{'SIGNUP.PASSWORD.LABEL' | translate}}</label>
                        <input id="password" label="password" name="password" type="password" ng-model="user.password" same-password="signup.confirm" ng-minlength="8" required/>
                        <ng-messages for="signup.password.$error" ng-include="'app/authentication/signup/password.messages.html'"></ng-messages>
                    </md-input-container>

                    <md-input-container>
                        <label for="password">{{'SIGNUP.PASSWORD_CONFIRM.LABEL' | translate}}</label>
                        <input id="confirm" label="confirm" name="confirm" type="password" ng-model="user.confirm" same-password="signup.password" ng-minlength="8" required/>
                        <ng-messages for="signup.confirm.$error" ng-include="'app/authentication/signup/password.messages.html'"></ng-messages>
                    </md-input-container>

                    <div layout="column">
                        <md-button flex class="md-raised md-primary "  ng-click="signupClick()" ng-disabled="signup.$invalid">{{'SIGNUP.BUTTON' | translate}}</md-button>
                    </div>

                    <div layout="column" layout-align="center center" layout-margin>
                        <md-button flex class="md-primary" href="#/login">{{'SIGNUP.HAVE_LOGIN' | translate}}</md-button>
                    </div>
                </form>
            </md-content>

        </md-card>
    </div>
</div>